body {
  margin: 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background: #343A40;
  overflow: hidden
}

.register, .login {
  margin-top: 70px;
  border-radius: 2px rgb(12, 10, 10) solid;
}
.register, .login label{
  color: #E1E8EB;
}
.registerH2, .loginH2 {
  color: #FFC107;
  text-align: center;
}

h1 {
  color: #FFC107;
}

h5{
  color: #E1E8EB;
}

ul li .nav-link{
  color: #E1E8EB;
}

/* cambiar el color de fondo a la barra */
nav.navbar {
  background-color: #7952B3;
}

nav div .navbar-brand {
  color: #FFC107;
  margin-left: 30px;
  
}

.card {
  width: 15rem;
  background-color: #252323f8;
  color: #FFC107;
}


.alerta-error {
  margin-top: 20px;
  color:#FFFF;
  text-align: center;
}

.btn-blank:hover {
  color: #FFC107;
}

h2 {
  color:#FFC107;
}

dt {
  font-size: 20px;
  color: #E1E8EB;
}
dd {
    font-size: 20px;
    color: #FFC107;
}

.index {
  background-color: #343A40;
  border-radius: 15px solid ;
  -webkit-border-radius:15px;
  margin: auto;
}

.author{
  color: #E1E8EB;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #7952B3;
    border-color: #7952B3;
}
.btn-danger:hover {
  background-color: #343A40;
  border-color: #7952B3;
}
 
