body {
  margin: 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background: #42275a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

.register, .login {
  margin-top: 70px;
  border-radius: 2px rgb(12, 10, 10) solid;
}
.register, .login label{
  color: #FFFF;
}
.registerH2, .loginH2 {
  color: #FFFF;
  text-align: center;
}

h1 {
  color: #dc3545;
}

h5{
  color: #FFFF;
}

ul li .nav-link{
  color: #FFFF;
}

/* cambiar el color de fondo a la barra */
nav.navbar {
  background-color: #252323f8;
}

nav div .navbar-brand {
  color: #dc3545;
  margin-left: 30px;
  
}

.card {
  width: 15rem;
  background-color: #252323f8;
  color: #dc3545;
}

.alerta-ok {
  background-color: rgb(109,211,109);
  color: rgb(2,103,2)
}
.alerta-error {
  margin-top: 20px;
  color:#FFFF;
  text-align: center;
}

.btn-blank:hover {
  color: #dc3545;
}

h2 {
  color: #dc3545;
}

dt {
  font-size: 20px;
  color: #FFFF;
}
dd {
    font-size: 20px;
    color: #dc3545;
}

.index {
  background-color: #25232398;
  border-radius: 15px solid ;
  -webkit-border-radius:15px;
  margin: auto;
}

.author{
  color: #FFFF;
}